.wrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listing-element {
  min-height: 200px;
  width: 200px;

  img {
    width: 100%;
    height: auto;
  }
}

.play-link {
  color: #000;
  &:visited {
    color: #686868;
  }
}

.play-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}
