<h1 class="page-header mat-elevation-z6">
  <span>CatTube</span>
  <mat-icon class="header-icon">theaters</mat-icon>
</h1>

<div class="page-content">
  <mat-tab-group>
    <mat-tab label="filmiki">
      <ng-container *ngIf="playlistItems | async as playlistItems">
        <app-listing [playlistItems]="playlistItems"></app-listing>
      </ng-container>
    </mat-tab>

    <mat-tab label="filmiki ale inne">
      <ng-container *ngIf="playlistItems2 | async as playlistItems">
        <app-listing [playlistItems]="playlistItems"></app-listing>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
