<h1 class="page-header mat-elevation-z6">
  <span>CatTube</span>
  <mat-icon class="header-icon">theaters</mat-icon>
</h1>

<div class="page-content">
  <mat-tab-group>
    <ng-container *ngFor="let playlist$ of playlistsData; index as idx">
      <ng-container *ngIf="playlist$ | async as playlist">
        <mat-tab [label]="(playlistNames[idx] | async) || 'playlist'">
          <app-listing [playlistItems]="playlist.items"></app-listing>
        </mat-tab>
      </ng-container>
    </ng-container>
  </mat-tab-group>
</div>
